.promo {
  height: 574px;
  background-color: #073042;
  color: white;
  font-family: "Inter";
  position: relative;
  display: flex;
}
.promo__logo {
  position: absolute;
  right: 70px;
  margin-top: 75px;
}
.promo__info {
  margin-left: 70px;
  margin-top: 75px;
  height: fit-content;
}
.promo__title {
  margin: 0;
  width: 640px;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 36px;
}
.promo__description {
  width: 310px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 146px;
}
.promo__button {
  width: 129px;
  height: 36px;
  background: none;
  color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 0 auto;
}
.promo__button p {
  margin: 0;
  font-size: 12px;
}
@media (max-width: 1268px) {
  .promo__logo {
    position: static;
    width: 310px;
    height: 304px;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 48px;
  }
  .promo {
    flex-direction: column;
    align-items: center;
    height: 784px;
    align-items: center;
    padding-bottom: 76px;
  }
  .promo__info {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .promo__title {
    font-size: 40px;
    width: 680px;
    text-align: center;
    margin-bottom: 22px;
  }
  .promo__description {
    text-align: center;
    width: 260px;
    margin: 0 auto;
    margin-bottom: 92px;
  }
}
@media (max-width: 767px) {
  .promo__logo {
    position: static;
    width: 210px;
    height: 206px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 44px;
  }
  .promo {
    flex-direction: column;
    align-items: center;
    height: 636px;
    align-items: center;
    padding-bottom: 30px;
  }
  .promo__info {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .promo__title {
    font-size: 30px;
    width: 300px;
    text-align: center;
    margin-bottom: 24px;
  }
  .promo__description {
    text-align: center;
    width: 260px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}
