.MoviesCard {
  margin: 0;
  padding: 0;
  width: 270px;
}
.MoviesCard__image {
  width: 100%;
  height: 151px;

  object-fit: cover;
  object-position: center;
}
.MoviesCard__info {
  margin-top: 5px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.MoviesCard__title {
  margin: 0;
  font-family: "Inter";
  font-weight: 500;
  font-size: 13px;
  height: 16px;
}
.MoviesCard__like {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  border: none;
  background-size: 10px 8px;
  background-image: url(../../images/whiteLike.png);
  background-position: center;
  background-repeat: no-repeat;
}
.MoviesCard__like_active {
  background-image: url(../../images/Like.png);
}
.MoviesCard__delete {
  background-image: url(../../images/close.png);
  width: 24px;
  height: 24px;
  margin: 0;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
.MoviesCard__time {
  margin: 0;
  padding-top: 7px;
  font-family: "Inter";
  font-size: 11px;
  font-weight: 400;
  color: #e8e8e8;
  border-top: 1px solid #e8e8e8;
}
@media (max-width: 1268px) {
  .MoviesCard {
    width: 339px;
  }
  .MoviesCard__image {
    height: 190px;
  }
}
@media (max-width: 767px) {
  .MoviesCard {
    width: 300px;
  }
  .MoviesCard__image {
    height: 168px;
  }
  .MoviesCard__title {
    font-size: 12px;
  }
}
