.AboutMe {
  margin: 0;
  font-family: "Inter";
}
.AboutMe__title {
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
  padding-bottom: 23px;
  margin-top: 110px;
  line-height: 27px;
  font-size: 22px;
  font-weight: 400;
  border-bottom: 1px solid black;
}
.AboutMe__content {
  margin-top: 66px;
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.AboutMe__photo {
  width: 270px;
  border-radius: 10px;
  object-fit: cover;
}
.AboutMe__name {
  margin: 0;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 18px;
}
.AboutMe__age {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 26px;
}
.AboutMe__description {
  font-size: 14px;
  width: 600px;
  margin: 0;
  margin-bottom: 99px;
}
.AboutMe__Link {
  color: black;
  text-decoration: none;
  font-size: 14px;
}
@media (max-width: 1268px) {
  .AboutMe__title {
    margin-left: 50px;
    margin-right: 50px;
  }
  .AboutMe__content {
    margin: 0;
    margin-top: 66px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .AboutMe__description {
    width: 364px;
  }
  .AboutMe__photo {
    width: 255px;
  }
}

@media (max-width: 767px) {
  .AboutMe__title {
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 70px;
    font-size: 18px;
  }
  .AboutMe__content {
    margin: 0;
    margin-top: 60px;
    margin-left: 14px;
    margin-right: 14px;
    align-items: center;
    flex-direction: column;
  }
  .AboutMe__description {
    width: 100%;
    font-size: 11px;
    margin-bottom: 40px;
  }
  .AboutMe__name {
    margin-top: 40px;
  }
  .AboutMe__photo {
    width: 292px;
  }
}
