.header-movies {
  background-color: white;
  height: 74px;
  display: flex;
  align-items: center;
  color: black;
  justify-content: space-between;
  padding: 0px 70px 0px 70px;
  font-family: "Inter";
  text-decoration: none;
}
.header-movies_active {
  font-weight: 500;
}
.header__button {
  font-family: "Inter";
  width: 76px;
  height: 32px;
  background-color: #2be080;
  font-weight: 500;
  border-radius: 3px;
  border: none;
}
.header__logo {
  position: relative;
  z-index: 2;
}
.header__account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 364px;
  gap: 7px;
  height: 32px;
  width: 100px;
  border-radius: 40px;
  box-shadow: 0px 7px 34px -9px rgba(0, 0, 0, 0.3);
}
.header__account-name {
  margin: 0;
  margin-left: 11px;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 600;
}
.header__account-image {
  width: 13px;
  height: 13px;
  padding: 8px;
  margin-right: 3px;
  background-color: #f9f9f9;
  border-radius: 40px;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
  justify-content: space-between;
}
.header__list li {
  list-style: none;
}
.header-movies__link {
  color: black;
}

.header-movies__link#first {
  display: none;
}
.header__burger {
  display: none;
}

@media (max-width: 1268px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 2;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active {
    position: fixed;
    right: 25px;
  }
  .header__burger::before {
    top: 0;
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::after {
    bottom: 0;
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: -200%;
    width: 500px;
    height: 100%;
    background-color: #fff;
    z-index: 1;
  }
  .header__nav.active {
    right: 0;
  }
  .header__list {
    flex-direction: column;
  }
  .header__account {
    margin: 0;
    margin-top: 621px;
  }
  .header-movies__link#first {
    display: block;
  }
  .header__list {
    margin-top: 100%;
  }
}
@media (max-width: 768px) {
  .header-movies {
    width: 90%;
    padding: 0;
    justify-content: space-between;
  }
  .header__nav.active {
    width: 100%;
  }
}

.profile__container {
  display: flex;
  height: 14px;
  align-items: center;
  gap: 149px;
}
.profile__container:nth-child(1) {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
}
.profile__container:nth-child(2) {
  margin-top: 17px;
}
.profile {
  display: flex;
  font-family: "Roboto";
  flex-direction: column;
  align-items: center;
  width: 396px;
  margin: 0 auto;
  margin-top: 70px;
}
.profile__img {
  width: 38px;
  height: 38px;
}
.profile__welcome {
  font-size: 24px;
  font-family: "Inter";
  font-weight: 500;
  margin: 0;
  margin-top: 40px;
}
.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 123px;
}
.profile__form input {
  all: unset;
  color: black;
  text-align: end;
  font-size: 11px;
  width: 120px;
  font-family: "Inter";
}

.profile__link {
  border: none;
  width: 100%;
  height: 45px;
  font-size: 11px;
  cursor: pointer;
  color: white;
  background-color: #3456f3;
  font-family: "Inter";
}
.profile__name {
  margin: 0;
  color: black;
  font-weight: 500;
  font-family: "Inter";
  font-size: 11px;
  width: 141px;
}
.profile__name:nth-child(4) {
  margin-top: 24px;
}
.profile__edit {
  all: unset;
  cursor: pointer;
  font-family: "Inter";
  font-size: 13px;
  margin-top: 220px;
}
.profile__out {
  all: unset;
  margin-top: 16px;
  color: red;
  cursor: pointer;
  font-family: "Inter";
  font-size: 13px;
}
@media (max-width: 456px) {
  .profile {
    width: 260px;
  }
  .profile__img {
    margin: 0 auto;
  }
  .profile__welcome {
    text-align: center;
  }
  .profile__container {
    gap: 0px;
  }
  .profile__name {
    width: 130px;
  }
}
