.header {
  height: 74px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 0px 70px 0px 70px;
  font-family: "Inter";
  background-color: #073042;
}

.header__nav-main {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__button {
  font-family: "Inter";
  width: 76px;
  height: 32px;
  background-color: #2be080;
  font-weight: 500;
  border-radius: 3px;
  border: none;
}
.header__link {
  font-size: 12px;
  color: white;
  text-decoration: none;
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    padding: 0;
  }
}
