.header-movies {
  background-color: white;
  height: 74px;
  display: flex;
  align-items: center;
  color: black;
  justify-content: space-between;
  padding: 0px 70px 0px 70px;
  font-family: "Inter";
  text-decoration: none;
}
.header-movies_active {
  font-weight: 500;
}
.header__button {
  font-family: "Inter";
  width: 76px;
  height: 32px;
  background-color: #2be080;
  font-weight: 500;
  border-radius: 3px;
  border: none;
}
.header__logo {
  position: relative;
  z-index: 2;
}
.header__account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 364px;
  gap: 7px;
  height: 32px;
  width: 100px;
  border-radius: 40px;
  box-shadow: 0px 7px 34px -9px rgba(0, 0, 0, 0.3);
}
.header__account-name {
  margin: 0;
  margin-left: 11px;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 600;
}
.header__account-image {
  width: 13px;
  height: 13px;
  padding: 8px;
  margin-right: 3px;
  background-color: #f9f9f9;
  border-radius: 40px;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}
.header__list li {
  list-style: none;
}
.header-movies__link {
  color: black;
}

.header-movies__link#first {
  display: none;
}
.header__burger {
  display: none;
}

@media (max-width: 1268px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 2;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger::before {
    top: 0;
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::after {
    bottom: 0;
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: -200%;
    width: 500px;
    height: 100%;
    background-color: #fff;
    z-index: 1;
  }
  .header__nav.active {
    right: 0;
  }
  .header__list {
    flex-direction: column;
  }
  .header__account {
    margin: 0;
    margin-top: 621px;
  }
  .header-movies__link#first {
    display: block;
  }
}
@media (max-width: 767px) {
  .header-movies {
    width: 283px;
    margin: 0 auto;
    padding: 0;
  }
  .header__nav.active {
    width: 100%;
  }
}
