.header-movies {
  background-color: white;
  display: flex;
  align-items: center;
  color: black;
  justify-content: space-between;
  height: 38px;
  margin: 0 70px;
  margin-top: 20px;
  font-family: "Inter";
  text-decoration: none;
}
.header-movies_active {
  font-weight: 500;
  border-bottom: 2px solid black;
  padding-bottom: 8px;
}
.header-movies__link {
  font-size: 13px;
  text-decoration: none;
}

.header-movies__button {
  font-family: "Inter";
  width: 76px;
  background-color: #2be080;
  font-weight: 500;
  border-radius: 3px;
  border: none;
}
.header-movies__logo {
  position: relative;
  z-index: 2;
}
.header-movies__account {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 349px;
  gap: 7px;
  width: 100px;
  margin-right: 15px;
  border-radius: 40px;
  box-shadow: 0px 7px 34px -9px rgba(0, 0, 0, 0.3);
}

.header-movies__account-name {
  text-decoration: none;
  color: black;
  margin: 0;
  margin-left: 11px;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
}
.header-movies__account-image {
  width: 13px;
  padding: 8px;
  margin-right: 3px;
  background-color: #f9f9f9;
  border-radius: 40px;
}
.header-movies__list {
  display: flex;
  align-items: center;
  position: relative;
  gap: 16px;
  padding: 0;
  right: -15px;
  bottom: 2px;
}
.header-movies__list li {
  list-style: none;
}
.header-movies__link {
  color: black;
}
.header-movies__link:hover {
  opacity: 0.7;
}
.header-movies__link#first {
  display: none;
}
.header-movies__burger {
  display: none;
}

@media (max-width: 1268px) {
  .header-movies {
    padding: 0;
    margin: 0 30px;
    margin-top: 18px;
  }
  .header-movies__burger {
    display: block;
    position: relative;
    margin-right: 7px;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header-movies__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header-movies__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header-movies__burger.active span {
    transform: scale(0);
  }
  .header-movies__burger::before {
    top: 0;
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .header-movies__burger::after {
    bottom: 0;
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .header-movies__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header-movies__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 520px;
    min-height: 100vh;
    background-color: white;
    display: none;
    flex-direction: column;
    padding-top: 159px;
    text-align: center;
    z-index: 2;
  }
  .header-movies__nav.active {
    display: flex;
  }

  .header-movies__burger.active {
    margin: 0;
    width: 20px;
    position: fixed;
    right: 25px;
  }
  .header-movies__list {
    margin: 0;
    flex-direction: column;
    gap: 30px;
    right: 0;
  }
  .header-movies__account {
    margin: 0;
    margin-top: 591px;
  }
  .header-movies__link {
    font-size: 18px;
  }

  .header-movies__link#first {
    display: block;
  }
  .header-movies__overlay {
    position: absolute;
  }
  .header-movies__overlay.active {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 2;
    position: fixed;
  }
}
@media (max-width: 767px) {
  .header-movies {
    margin: 0;
    padding: 18px 13px;
  }
  .header-movies__burger {
    width: 25px;
  }
  .header-movies__nav.active {
    width: 100%;
    padding-top: 145px;
  }
  .header-movies__list {
    gap: 25px;
  }
  .header-movies__burger.active {
    right: 20px;
    top: 19px;
  }
  .header-movies__account {
    margin-top: 421px;
  }
}
