.login {
  display: flex;
  font-family: "Roboto";
  flex-direction: column;
  justify-content: center;
  width: 396px;
  margin: 0 auto;
  margin-top: 70px;
}
.login__img {
  width: 38px;
  height: 38px;
}
.login__welcome {
  font-size: 24px;
  font-family: "Inter";
  font-weight: 500;
  margin: 0;
  margin-top: 40px;
}
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}
.login__form input {
  all: unset;
  border-bottom: 2px solid #cccccc;
  height: 27px;
  font-size: 14px;
  font-family: "Inter";
}
.login__form input[type="password"] {
}
.login__signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.login__signup p {
  margin-right: 12px;
}
.signup__link {
  color: white;
}
.login__button-container {
  display: flex;
  justify-content: center;
  margin-top: 222px;
}
.login__link {
  border: none;
  width: 100%;
  height: 45px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  background-color: #3456f3;
  font-family: "Inter";
}
.login__link:disabled {
  background: #f8f8f8;
  color: #c2c2c2;
  cursor: auto;
}
.login__name {
  margin: 0;
  color: #a0a0a0;
  font-family: "Inter";
  font-size: 10px;
}
.login__name:nth-child(4) {
  margin-top: 30px;
}
.login__signup {
  margin: 0;
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
}
.login__signup p {
  margin: 0;
  font-size: 14px;
  font-family: "Inter";
  color: #a0a0a0;
}
.login__register-link {
  margin: 0;
  color: #3456f3;
  text-decoration: none;
  font-size: 14px;
  font-family: "Inter";
}
@media (max-width: 1268px) {
  .login {
    margin-top: 230px;
  }
}
@media (max-width: 456px) {
  .login {
    margin-top: 56px;
    width: 260px;
  }
  .login__img {
    margin: 0 auto;
  }
  .login__welcome {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
  }
  .login__form {
    margin-top: 80px;
  }
  .login__register-link {
    font-size: 12px;
  }
  .login__signup p {
    font-size: 12px;
  }
  .login__button-container {
    margin-top: 311px;
  }
}
